:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.side-nav-container {
  flex: 1;
  border: 1px solid #ccc;
}

.side-nav-content {
  display: flex;
}

.side-nav {
  min-width: 15rem;
}
