:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.side-nav-container {
  flex: 1;
  border: 1px solid #ccc;
}

.side-nav-content {
  display: flex;
}

.side-nav {
  min-width: 15rem;
}

::ng-deep {
  .mat-nav-list.mat-list-base {
    padding-top: 0;
  }
}

.side-menu-item {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  font-weight: bold;

  &.active {
    background-color: #e9ebeb;
  }

  &.mobile {
    border-top: none;
  }
}
