<app-page-layout>
  <app-chat-layout [conversationListItemTemplate]="conversationListItem" [conversationTemplate]="conversation"
    [conversationListContext]="authors$ | async">
  </app-chat-layout>
</app-page-layout>

<ng-template #conversationListItem let-model>
  <app-author-list-item [model]="model"></app-author-list-item>
</ng-template>

<ng-template #conversation>
  <button (click)="sendCommand()" style="position: absolute">send command</button>
  <app-conversation [author]="currentAuthor$ | async" [messages]="messages$ | async"  (sendMessage)="onSendMessage($event)">
  </app-conversation>
</ng-template>
