<ng-container *ngFor="let message of messages">
  <mat-card class="message" [class.my]="message.originator === AuthorType.Client">
    <ng-container [ngSwitch]="message.payload.type">
      <mat-card-content>
        <ng-container *ngSwitchCase="CommandType.Message">{{message.payload.data}}</ng-container>

        <ng-container *ngSwitchCase="CommandType.Complete">
          <app-complete-widget [id]="message.id" [buttons]="message.payload.data" (sendMessage)="sendMessage.emit($event)"></app-complete-widget>
        </ng-container>

        <ng-container *ngSwitchDefault>{{message.payload | json}}</ng-container>
      </mat-card-content>
    </ng-container>
  </mat-card>
</ng-container>
