:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  justify-content: flex-end;
  overflow: auto;
}

.message {
  max-width: 40rem;
  margin: 0.25rem 0;
  align-self: flex-start;

  &.my {
    align-self: flex-end;
    background: #e8fbe8;
  }
}
