<div #messsageWrapper class="messages-wrapper">
  <ng-container *ngFor="let message of messages">
    <mat-card class="message" [class.my]="message.originator === AuthorType.Client">
      <ng-container [ngSwitch]="message.payload.type">
        <mat-card-content class="message-content-wrapper">
          <ng-container *ngSwitchCase="CommandType.Message">{{message.payload.data}}</ng-container>

          <ng-container *ngSwitchCase="CommandType.Complete">
            <app-complete-widget [id]="message.id" [buttons]="message.payload.data" (sendMessage)="sendMessage.emit($event)">
            </app-complete-widget>
          </ng-container>

          <ng-container *ngSwitchCase="CommandType.Rate">
            <app-rate-widget [id]="message.id" [model]="message.payload.data" (sendMessage)="sendMessage.emit($event)"></app-rate-widget>
          </ng-container>

          <ng-container *ngSwitchCase="CommandType.Map">
            <app-map-widget [model]="message.payload.data"></app-map-widget>
          </ng-container>

          <ng-container *ngSwitchCase="CommandType.Date">
            <app-date-widget [id]="message.id" [model]="message.payload.data" (sendMessage)="sendMessage.emit($event)"></app-date-widget>
          </ng-container>

          <ng-container *ngSwitchDefault>{{message.payload | json}}</ng-container>
          <div class="ts">{{message.timestamp | date: 'shortTime'}}</div>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </ng-container>
</div>
